@import "tailwindcss";

@config "../tailwind.config.js";

body {
  font-size: smaller;
  font-weight: 600;
  color: #7D7D7D;
}

svg.lucide {
  width: 20px;
  height: 20px;
  stroke-width: 2;
  transition: stroke-width 0.2s ease;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
